h1{
    color:red;
    background-color: pink;
}

/* p{
    color:pink;
    background-color: black;
} */

button {
    color:green;
    background-color: grey;
}

/* inheritance */
div{
    background-color: wheat;
}
p{
    background-color: yellow;
}
ul{
    background-color: inherit;
}