h1{
    background-color: yellow;
    border: 2px solid black;
}

@media (max-width : 400px) {
    h1{
        background-color: red;
        color: white;
    }
}
@media(min-width: 600px){
    h1{
        background-color: blue;
        color: khaki;
    }
}

@media (orientation:landscape) {
    h1{
        background-color: aqua;
        color: brown;
    }
}