div{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,0.2);
    /* alpha value */

    opacity: 1;
    /* opacity */
   
    transition: 1s;
    transition-delay: 1s;

    /* tranform property */
    transform:rotate(45deg);

    transform: scale(2);

    transform:translate(100px,200px) ;
    transform: translateX(100px);
    transform: translateY(200px);
    transform: skew(-30deg);

    /* box shadow - shadow around element frame*/

    box-shadow: 2px 2px 10px black ;
    background-image: url(dwayne-joe-yM5Bjny4IRU-unsplash.jpg);
    
    background-size: contain;
    /* contain /cover/auto */
}

div:hover{
    background-color: green;
    transition: 1s;
    border-radius: 50%;
    
}