#container{
    height: 500px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */

    align-items: flex-end;

    /* justify from direction of main axis */
     justify-content: flex-end; 
    justify-content: center;

    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; 
    
    /* flex-wrap: wrap; */
    justify-content: baseline;
}
h1{
    text-align: center;
}
#org{
    /* initial set div size along main axis */
    flex-basis: 80px;
    flex-grow: 1;
    max-width: 60px;
    flex-shrink: 2;

}
#container div{
    height: 80px;
    width: 500px;
    color: white;
    text-align: center;
    font-size: 1.5;
}